<div class="rule-container" ng-if="!ctrl.isArray(ctrl.model)">
  <form class="form-inline" aria-hidden="true">

    <select ng-model="ctrl.model.selectedField" class="form-control input-sm" ng-change="ctrl.setAvailableOperators()" ng-options="field.systemIdentifier as field.display for field in ctrl.queryOptions.fields">
    </select>

    <select ng-model="ctrl.model.selectedOperator" class="form-control input-sm" ng-options="op.systemIdentifier as op.displayText for op in ctrl.availableOperators">
    </select>

    <input type="text" class="form-control input-sm" ng-if="ctrl.validEntries.length === 0" ng-model="ctrl.model.selectEntry"></input>

    <select ng-model="ctrl.model.selectEntry" class="form-control input-sm" ng-if="ctrl.validEntries.length > 0" ng-options="entry.systemIdentifier as entry.displayText for entry in ctrl.validEntries">
    </select>

    <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="ctrl.onRemove()">
      <i class="glyphicon glyphicon-trash"></i>
    </button>
  </form>
</div>