<div class="rule-container">
<form class="form-inline" aria-hidden="true">

  <select ng-model="ctrl.model.selectedField" class="form-control input-sm"
          ng-change="ctrl.setAvailableOperators()"
          ng-options="field.identifier as field.display for field in ctrl.queryOptions.fields">
  </select>

  <select ng-model="ctrl.model.selectedOperator" class="form-control input-sm"
          ng-options="op.identifier as op.display for op in ctrl.availableOperators">
  </select>

  <input type="text" class="form-control input-sm" ng-if="!ctrl.validEntries"
         ng-model="ctrl.model.selectEntry"></input>
  <select ng-model="ctrl.model.selectEntry" class="form-control input-sm" ng-if="ctrl.validEntries"
          ng-options="entry.identifier as entry.display for entry in ctrl.validEntries">
  </select>

  <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="ctrl.onRemove()">
    <i class="glyphicon glyphicon-trash"></i>
    Delete
  </button>
</form>
</div>
