<div class="panel panel-default query-container">
  <div class="panel-body">
    <div class="btn-group group-conditions" role="group">
      <label ng-repeat="op in ctrl.queryOptions.topLevelOperators"
             class="btn btn-xs btn-primary toggle-button"
             ng-class="{'active': ctrl.selectedTopLevelOperator == op.name }">
        <input name="{{op.name}}_cond" type="radio" value="{{op.name}}"
               ng-click="ctrl.setTopLevelOperator(op.name)">
                {{ op.name }}
        </input>
      </label>
    </div>

    <div class="btn-group pull-right group-actions">
      <button type="button" class="btn btn-success btn-xs">
        <i class="glyphicon glyphicon-plus"></i>
        Add Rule
      </button>
      <button type="button" class="btn btn-success btn-xs">
        <i class="glyphicon glyphicon-log-in"></i>
        Add Group
      </button>
    </div>

    <div class="rules-container">
      <div ng-repeat="rule in ctrl.rules">
        <rule query-options="ctrl.queryOptions" ng-model="rule"
              ng-change=ctrl.ruleChange></rule>
      </div>
    </div>
  </div>
</div>
