$query-background: #FFF3C9;
$container-border: #FFDA5C;
$container-background: #FFFFFF;

.query-container {
  margin: 10px 0px 0px 0px; /* TODO: Let the consumer do this */
  width: 860px;

  .panel-body{
    background-color: $query-background;
  }

  .toggle-button input[name$="_cond"]{
    display: none;
  }

  .rules-container {
    margin: 15px 0px 0px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: $container-border;
    background-color: $container-background;
    padding: 5px;
  }
}
