$query-background: #FFF3C9;
$container-border: #FFDA5C;
$container-background: #FFFFFF;
$saved-query-background: #FFFFFF;
$saved-query-header: #1D2EB2;

.query-container {
  margin: 0px 0px 0px 0px; /* TODO: Let the consumer do this */

  .panel-body{
    background-color: $query-background;
  }

  .toggle-button input[name$="_cond"]{
    display: none;
  }

  .rules-container {
    margin: 15px 0px 0px 0px;
  }

  .rule-group-container {
    margin: 0px 0px 5px 0px;
  }

  .rule-container {
    margin: 0px 0px 6px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: $container-border;
    background-color: $container-background;
    padding: 5px;

    input[type="text"] {
      width: 180px;
    }
  }

  .nested-group .panel{
    margin: 0px 0px 0px 20px
  }

  .saved-query {
    margin: 0px 0px 5px 0px;
  }
}
